/* requirements
background-color, text-align, padding, margin, border, 
font-size, font-family, color, width, height */

body    {   font-family: arial, helvetica, sans-serif; }
a.nodec {   text-decoration: none; }
a:hover {   text-decoration: underline;
            color: red; }
input   {   margin-left: 50px;
            font-size: .8em; }