/* requirements
background-color(V), text-align, padding, margin, border, 
font-size(V), font-family(V), color(V), width, height */

body    {   font-family: arial, helvetica, sans-serif; 
            background-color: Steelblue; 
            text-align: center; }
h1      {   font-family: 'times new roman', times, serif;
            color: navy; }
p       {   font-size: 12pt; }