/* requirements
background-color(V), text-align(V), padding(V), margin(V), border(V), 
font-size(V), font-family(V), color(V), width(V), height(V) */

body    {   font-family: arial, helvetica, sans-serif; 
            background-color: Steelblue; 
            position: relative;
            text-align: center; 
            width: 1020px;}
h1      {   font-family: 'times new roman', times, serif;
            color: navy; }
.slide  {   position: relative;
            animation-name: slider;
            animation-duration: 2s; }
@keyframes slider {
    0% {left: 1000px;}
    50% {left: 500px;}
    100% {left: 0px;}
}
p       {   font-size: 12pt; }
button  {   padding: .5em;
            margin: 1em;
            border: dotted}
.grass  {background-color: greenyellow}
.ocean  {background-color: teal}
.fire   {background-color: firebrick}