/* External style sheet */

body    {   font-family: arial, helvetica, sans-serif; 
            background-color: Steelblue; 
            text-align: left; 
            width: 1020px;
            margin: auto; }
h1      {   font-family: 'times new roman', times, serif;
            color: navy; }
.slide  {
    animation-name: slider;
    animation-duration: 2s; }
@keyframes slider {
    from {  margin-left: 100%;
            width: 2000px; }
    to   {  margin-left: 0%;
            width: 1020px; }
}
img {
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;
}
img:hover {
    width: 500px;
    height: 500px;
}

p { font-size: 12pt; }
.flexboi {
    display: flex;
    column-count: 2; column-gap: 20px; column-width: 400px;
    column-rule-style: solid; column-rule-width: 1px; column-rule-color: white;
}
button  {   padding: .5em;
            margin: 1em;
            border: dotted}
.grass  {background-color: greenyellow}
.ocean  {background-color: teal}
.fire   {background-color: firebrick}